{% extends 'base.html' %} {% load static %} {% block content %}
  <section class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="mb-4">Join BruceMinangasWorld and <br> Improve Your Life Today</h1>
          <p class="mb-4">At BruceMinangasWorld, we address the widespread underestimation of maturity's benefits.
            Surprisingly, many are unaware of their maturity status. We empower personal growth with cutting-edge tools,
            believing mastery of life's complexities creates a brighter future. Join us in shaping a world where
            maturity drives positive change.</p>
          <a href="#" class="btn btn-primary btn-lg me-3 mb-3">Sign Up Now</a>
          <a href="maturitytest.html" class="btn btn-outline-primary btn-lg mb-3">Maturity Test</a>
        </div>
        <div class="col-md-6">
          <iframe class="card-img-top rounded" width="560" height="315"
            src="https://www.youtube.com/embed/AptQHFJZ9go?autoplay=0" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>



        </div>
      </div>
    </div>
  </section>


  <section id="mission-vision-values" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3 class="text-primary mb-4 fw-bold text-uppercase">Our Mission</h3>
          <p class="lead mb-5"> Make the world a better place

          </p>
        </div>
        <div class="col-md-4">
          <h3 class="text-primary mb-4 fw-bold text-uppercase">Our Vision</h3>
          <p class="lead mb-5">Model people who provide quality services
          </p>
        </div>
        <div class="col-md-4">
          <h3 class="text-primary mb-4 fw-bold text-uppercase">Our Values</h3>
          <ul class="list-unstyled mb-0">
            <li class="mb-3"><i class="bi bi-check-circle-fill text-success me-2 align-middle"></i> Learning and growth
            </li>
            <li class="mb-3"><i class="bi bi-check-circle-fill text-success me-2 align-middle"></i> Inclusivity and
              diversity</li>
            <li class="mb-3"><i class="bi bi-check-circle-fill text-success me-2 align-middle"></i> Integrity and
              accountability</li>
            <li><i class="bi bi-check-circle-fill text-success me-2 align-middle"></i> Knowing what we are doing</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- guide section -->
  <section id="mission-vision-values" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="mb-3">Unlocking the Full Potential of Our Tools</h2>
          <p class="lead mb-5">Follow these steps to harness the true power of our tools and systems.</p>
        </div>
        <div class="col-md-4">
          <h3 class="text-primary mb-4 fw-bold text-uppercase">Step 1</h3>
          <p class="lead mb-5">Get acquainted with the tool. Dive in, explore, and make it your ally.</p>
        </div>
        <div class="col-md-4">
          <h3 class="text-primary mb-4 fw-bold text-uppercase">Step 2</h3>
          <p class="lead mb-5">When life throws challenges your way, turn to our tools. They might just be the solution
            you've been seeking.</p>
        </div>
        <div class="col-md-4">
          <h3 class="text-primary mb-4 fw-bold text-uppercase">Step 3</h3>
          <p class="lead mb-5"> Make tool usage a
            habit. The more you use it, the more seamlessly it integrates into your daily routine.</p>
        </div>

      </div>
    </div>
  </section>

  <!-- Our life-changing tools -->
  <section id="role-models" class="py-5" style="background-color: #F8E08E;">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="mb-3">Experience Life-Changing Tools</h2>
          <p class="lead mb-5">Embark on a journey of self-discovery and empowerment with these transformative tools
            designed to reshape your life.</p>
        </div>
      </div>
      <div class="row">
        <!-- Career Transformation System -->
        <div class="col-md-4 mb-4">
          <div class="card border-0 shadow" id="career-card"> <!-- Added id attribute -->
            <img src="{% static 'images/career.png' %}" class="card-img-top" style="height: 250px;" alt="Career Transformation">
            <div class="card-body">
              <h5 class="card-title text-primary">Career Transformation System</h5>
              <p class="card-text">Experience a revolution in your professional life! Our groundbreaking system uncovers
                hidden potential and propels you towards unparalleled success in your chosen field.</p>
            </div>
          </div>
        </div>
        
        
        <!-- Wellness Revolution System -->
        <div class="col-md-4 mb-4">
          <div class="card border-0 shadow">
            <img src="{% static 'images/health.png' %}" class="card-img-top" style="height: 250px;" alt="Wellness Revolution">
            <div class="card-body">
              <h5 class="card-title text-success">Wellness Revolution System</h5>
              <p class="card-text">Embark on a journey of total well-being! Our revolutionary system empowers you to
                reclaim control of your health, vitality, and happiness, paving the way for a life of boundless energy
                and fulfillment.</p>
            </div>
          </div>
        </div>
        <!-- Relationship Renaissance System -->
        <div class="col-md-4 mb-4">
          <div class="card border-0 shadow">
            <img src="{% static 'images/relationship.png' %}" class="card-img-top" style="height: 250px;" alt="Relationship Renaissance">
            <div class="card-body">
              <h5 class="card-title text-danger">Relationship Renaissance System</h5>
              <p class="card-text">Transform your connections and enrich your life! Our visionary system unlocks the
                secrets to profound, enduring relationships, fostering deep understanding, trust, and intimacy.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Get involved -->
  <section id="get-involved" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="mb-3">Get Involved</h2>
          <p class="lead mb-5">Join BruceMinangasWorld and make a difference today.</p>
          <ul class="list-group">
            <li class="list-group-item"><i class="bi bi-people"></i> Connect with inspiring role models from around the
              world.</li>
            <li class="list-group-item"><i class="bi bi-bookmark-star"></i> Share your own Tools/Systems and inspire
              others.</li>
            <li class="list-group-item"><i class="bi bi-globe2"></i> Make a positive impact on your community and
              beyond.</li>
          </ul>
          <a href="#" class="btn btn-primary mt-4">Join Now</a>
        </div>
        <div class="col-md-6">
          <img src="https://via.placeholder.com/500x500" class="img-fluid" alt="Get Involved">
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials -->
  <section style="color: #000; background-color: #f3f2f2;">
    <div class="container py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-xl-8 text-center">
          <h3 class="fw-bold mb-4">Testimonials</h3>
          <p class="mb-4 pb-2 mb-md-5 pb-md-0">
            Candid reflections from those who've experienced our systems firsthand, sharing how each tool has positively
            impacted their lives and empowered their journey towards growth and fulfillment.
          </p>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-md-4 mb-4 mb-md-0">
          <div class="card">
            <div class="card-body py-4 mt-2">
              <div class="d-flex justify-content-center mb-4">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp"
                  class="rounded-circle shadow-1-strong" width="100" height="100" />
              </div>
              <h5 class="font-weight-bold">Teresa May</h5>
              <h6 class="font-weight-bold my-3">Founder at ET Company</h6>
              <ul class="list-unstyled d-flex justify-content-center">
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star-half-alt fa-sm text-info"></i>
                </li>
              </ul>
              <p class="mb-2">
                <i class="fas fa-quote-left pe-2"></i>Thanks to the Career Transformation System, my career soared.
                Unveiling hidden strengths, it guided me to unparalleled success. It's more than a system; it's a
                catalyst for realizing potential.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
          <div class="card">
            <div class="card-body py-4 mt-2">
              <div class="d-flex justify-content-center mb-4">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(15).webp"
                  class="rounded-circle shadow-1-strong" width="100" height="100" />
              </div>
              <h5 class="font-weight-bold">Maggie McLoan</h5>
              <h6 class="font-weight-bold my-3">Photographer at Studio LA</h6>
              <ul class="list-unstyled d-flex justify-content-center">
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
              </ul>
              <p class="mb-2">
                <i class="fas fa-quote-left pe-2"></i>The Wellness Revolution System revitalized my life. It empowered
                me to reclaim health and happiness, guiding me toward boundless energy and fulfillment. It's a
                transformative journey, not just a system, unlocking vitality and joy.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-0">
          <div class="card">
            <div class="card-body py-4 mt-2">
              <div class="d-flex justify-content-center mb-4">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(17).webp"
                  class="rounded-circle shadow-1-strong" width="100" height="100" />
              </div>
              <h5 class="font-weight-bold">Alexa Horwitz</h5>
              <h6 class="font-weight-bold my-3">Front-end Developer in NY</h6>
              <ul class="list-unstyled d-flex justify-content-center">
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="far fa-star fa-sm text-info"></i>
                </li>
              </ul>
              <p class="mb-2">
                <i class="fas fa-quote-left pe-2"></i>The Relationship Renaissance System transformed my connections. It
                unlocked profound understanding and trust, enriching my life with enduring bonds. More than a system,
                it's a pathway to deep, meaningful relationships
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Question Accordion -->
  <section id="questions" class="p-5">
    <div class="container">
      <h2 class="text-center mb-4">Frequently Asked Questions</h2>
      <div class="accordion accordion-flush" id="questions">
        <!-- Item 1 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#question-one">
              What kind of tools does BruceMinangasWorld offer?
            </button>
          </h2>
          <div id="question-one" class="accordion-collapse collapse" data-bs-parent="#questions">
            <div class="accordion-body">
              Our tools range from self-assessment questionnaires to interactive systems that track your progress in
              mastering life’s systems.
            </div>
          </div>
        </div>
        <!-- Item 2 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#question-two">
              Is there a cost to using BruceMinangasWorld services?
            </button>
          </h2>
          <div id="question-two" class="accordion-collapse collapse" data-bs-parent="#questions">
            <div class="accordion-body">
              Some of our tools and systems are available for free, while others may require a subscription or one-time
              payment.


            </div>
          </div>
        </div>
        <!-- Item 3 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#question-three">
              How does maturity contribute to a better world?
            </button>
          </h2>
          <div id="question-three" class="accordion-collapse collapse" data-bs-parent="#questions">
            <div class="accordion-body">
              Maturity allows individuals to make informed decisions, handle challenges effectively, and contribute
              positively to society, thereby shaping our world into a better place.


            </div>
          </div>
        </div>

        <!-- Item 5 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#question-five">
              Do you help me find a job?
            </button>
          </h2>
          <div id="question-five" class="accordion-collapse collapse" data-bs-parent="#questions">
            <div class="accordion-body">
              We encourage you to regularly check our website for updates on job
              openings, subscribe to our newsletter, and engage with our community
              forums. By utilizing our platform, you can gain a competitive edge
              in your job search and be better positioned to seize available
              opportunities.
            </div>
          </div>
        </div>
        <!-- Item 6 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#question-six">
              What makes BruceMinangasWorld different from other self-improvement platforms?
            </button>
          </h2>
          <div id="question-six" class="accordion-collapse collapse" data-bs-parent="#questions">
            <div class="accordion-body">
              BruceMinangasWorld focuses specifically on maturity as a key aspect of self-improvement, offering
              specialized tools and systems to help you achieve it.
            </div>
          </div>
        </div>
        <!-- Item 7 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#question-seven">
              How do I get started with BruceMinangasWorld?
            </button>
          </h2>
          <div id="question-seven" class="accordion-collapse collapse" data-bs-parent="#questions">
            <div class="accordion-body">
              Simply visit our website, sign up for an account, and you can start using our tools and systems
              immediately.
            </div>
          </div>
        </div>
        <!-- Item 8 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#question-eight">
              Who can benefit from BruceMinangasWorld?
            </button>
          </h2>
          <div id="question-eight" class="accordion-collapse collapse" data-bs-parent="#questions">
            <div class="accordion-body">
              Anyone who is interested in personal growth and becoming a more mature individual can benefit from our
              project.


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}

  